<div class="container">
  <div class="row">
    <div class="generateCarousel">
      <%= render :partial => 'layouts/clothing_carousel', :locals => { :index_id => "", :clothings => @tops, :label => "Tops" } %>
      <%= render :partial => 'layouts/clothing_carousel', :locals => { :index_id => "Two", :clothings => @bottoms, :label => "Bottoms" } %>
      <%= render :partial => 'layouts/clothing_carousel', :locals => { :index_id => "Three", :clothings => @shoes, :label => "Shoes" } %>
    </div>
  </div>
</div>

<div class="generateMenu">
  <div class="row">
    <div class="span3 offset10">  
      <div class="btn-group">
        <button onclick='location.reload();' class="btn">Generate Another</button><br/>
        <button onclick='generatePost(true, false);' class="btn">Favorite for Later!</button><br/>
        <button onclick='generatePost(false, true);' class="btn">Wear it Now!!</button><br/>
        <button onclick='generatePost(true, true);' class="btn">Favorite and Wear!!!</button>
      </div>
    </div>
  </div>
</div>
<%= form_for(:outfit, :url => outfit_new_path(@outfit)) do |f| %>
  <% @temperatures.each do |temp| %>
    <%= check_box_tag "temperature_ids[]", temp.id, @filter_temps.include?(temp)%>
    <%= temp.label %> (<%= temp.low %>ºF - <%= temp.high %>ºF)<br />
  <% end %>
  <br />
  <%= f. submit "JS Filter" %><br/>
<% end %>


<script>
  function saveOutfit(is_favorite, wear_now) {
    tp = $('#slider1 .active').attr('id')
    btm = $('#slider2 .active').attr('id')
    shu = $('#slider3 .active').attr('id')
    parameters = tp + "&" + btm + "&" + shu + "&is_favorite=" + is_favorite + "&wear_now=" + wear_now
    alert(parameters)
    $.post('/outfit', parameters, function() { alert ("Saved!") }); //outfit#create
  }

  function filter() {
    var post_string = ""; 
    $("[id^=temperature_ids]:checked").each(function(i, selected) {
      if (i > 0)
        post_string += "&";
      post_string += "temperature_ids[]=" + selected.value;
    });
    $.post('/outfit/new', post_string, function() { alert ("Saved!") }); //outfit#filter
  }
</script>
