<div class="container">
  <div class="row offset2">
    <%= form_for(:clothing, :url => clothing_index_path(@clothing)) do |f| %>
      <div id="clothingnew">
        <%= f.label :name, "Clothing Name" %>
          <%= f.text_field :name %>
        <%= f.label :description, "Clothing Description" %>
        <%= f.text_area :description %><br />
        <%= f.label :image_path, "Upload Image of Clothing" %><br />
        <%= f.file_field :image_path %><br />
      <br />
        <% @types.each do |type| %>
          <%= radio_button_tag(:type_id, type.id) %> 
          <%= type.name %><br />
        <% end %>
      <br/>
        <% @temperatures.each do |temp| %>
          <%= check_box_tag "temperature_ids[]", temp.id, @clothing.temperatures.include?(temp)%>
          <%= temp.label %> (<%= temp.low %>ºF - <%= temp.high %>ºF)<br />
        <% end %>
      <br />
        <% @styles.each do |style| %>
          <%= check_box_tag "style_ids[]", style.id, @clothing.styles.include?(style)%>
          <%= style.label %><br />
        <% end %>
      <br />
        <%= f. submit "Add Clothing" %>
      </div><br />
    <% end %>
  </div>
</div>