<%= form_for(:clothing, :url => clothing_index_path(@clothing)) do |f| %>
  <div>
    <%= f.label :name, "Clothing Name" %><br />
      <%= f.text_field :name %><br />
  </div><br />
  <div>
    <%= f.label :description, "Clothing Description" %><br />
      <%= f.text_field :description %><br />
  </div><br />
  <div>
    <%= f.label :image, "Upload Image of Clothing" %><br />
      <%= f.file_field :image %><br />
  </div><br />
  <div>
  	<%= check_box_tag(:type_id, "Top") %> Top<br />
  	<%= check_box_tag(:type_id, "Bottom") %> Bottom<br />
  	<%= check_box_tag(:type_id, "Shoes") %> Shoes<br />
  	<%= check_box_tag(:type_id, "Full") %> Full<br />
  </div><br />
  <div>
    <%= f. submit "Add Clothing" %>
  </div><br />
<% end %>