<h3>Clothing</h3>
<p>Clothing: <%= @clothing.name %></p>
<p>Description: <%= @clothing.description if @clothing.description %></p>
<p>Type: <%= @clothing.type.name %></p>
<p>Image: <%= @clothing.image if @clothing.image %></p>
<%= button_to "delete", @clothing, :method => :delete %>