<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Generate An Outfit', new_outfit_path   %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Add Clothing', new_clothing_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Clothing List', clothing_index_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Favorites', clothing_index_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Laundry', clothing_index_path %>
    </li>
  <% end %>
</ul>
