<!DOCTYPE html>
<html>

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Closet Generator" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Closet Generator" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

  </head>
   
  <body>

    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div id="main" role="main">
          <div class="container">
            <%= render 'layouts/navigation' %>
            <div class="content">
              <div class="row">
                <%= render 'layouts/messages' %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>


    <div class="container">
      <footer>

      </footer>
    </div>
    

    <%= image_tag('stockphotocloset.png') %>

  </body>

</html>
