<!DOCTYPE html>
<html>

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Closet Generator" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Closet Generator" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

  </head>
   
  <body>

    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div id="main" role="main">
          <div class="container">
            <%= render 'layouts/navigation_two' %>
            <div class="content">
              <div class="row">
                <%= render 'layouts/messages' %>
              </div>
            </div>
          </div>
                
        </div>
      </nav>
    </header>

    <%= link_to(image_tag("wooden.png", :alt => "hanger", :class=>"style_image", :id=>"style_image"),"/", :class=>"style_image", :id=>"style_image") %>
    <%= link_to(image_tag("hangerfour.png", :alt => "hangerfour", :class=>"style_imagetwo", :id=>"style_imagetwo"),"/", :class=>"style_imagetwo", :id=>"style_imagetwo  ") %>
    <%= link_to(image_tag("woodentwo.png", :alt => "woodentwo", :class=>"style_imagethree", :id=>"style_imagethree"),"/", :class=>"style_imagethree", :id=>"style_imagethree  ") %>
    <%= link_to(image_tag("wooden.png", :alt => "hanger", :class=>"style_imagefour", :id=>"style_imagefour"),"/", :class=>"style_imagefour", :id=>"style_imagefour") %>
    <%= link_to(image_tag("hangerfour.png", :alt => "hangerfour", :class=>"style_imagefive", :id=>"style_imagefive"),"/", :class=>"style_imagefive", :id=>"style_imagefive  ") %>
     <%= link_to(image_tag("woodentwo.png", :alt => "woodentwo", :class=>"style_imagesix", :id=>"style_imagesix"),"/", :class=>"style_imagesix", :id=>"style_imagesix  ") %>

    <div class="container">
      <div class="row">
        <div class="span3 offset9">
          <div class="well sidebar-nav">
            <li class="nav-header"></li>
            <li><%= render 'layouts/navigation' %>
            <div class="content">
              <div class="row">
                <%= render 'layouts/messages' %>
              </div>
            </div>
            </li>
          </div>
        </div>
      </div>
      <%= yield %>
      <footer>

      </footer>
    </div>
    
  </body>

</html>
